<!-- 
        To include hrader and footer from separate files
-->    
<%- include('header') -%>
    <br>
    <!--
        Received Content here   and note the `-` instead of `=` which is used to escape the 
        template hence to unescape use the `-`
    -->
    <div id='root'>
        <%- content -%>
    </div>
<%- include('footer') -%>
